In [127]:
import pandas as pd
import numpy as np

In [128]:
 #1 
list_v=[1,2,3,4]
series_list=pd.Series(list_v)
print("pandas Series from list")
print(series_list)

pandas Series from list
0    1
1    2
2    3
3    4
dtype: int64

In [129]:
numpy_arr=np.array([1,2,3,4])
numpy_series=pd.Series(numpy_arr)
print("Pandas series from numpy")
print(numpy_series)

Pandas series from numpy
0    1
1    2
2    3
3    4
dtype: int32

In [130]:
dic={'a':2 , 'b':3 ,'c':5 ,'d':6}
dic_series=pd.Series(dic)
print("pandas series from dictionary: ")
print(dic_series)

pandas series from dictionary:
a    2
b    3
c    5
d    6
dtype: int64

In [131]:
#2
c= ["a", "b", "c", "d"]
d=[1,2,3,4]
ans=pd.Series(d,index=c)
print(ans)

a    1
b    2
c    3
d    4
dtype: int64

In [132]:
# 3
ser1 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
ser2 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])

print("series 1")
print(ser1)
print("series 2")
print(ser2)

add=ser1 + ser2
print("adition")
print(add)

sub=ser1 - ser2
print("Subtraction")
print(sub)

multi=ser1 * ser2
print("Multiplication")
print(multi)

divide=ser1 / ser2
print("Division")
print(divide)

series 1
a    10
b    20
c    30
d    40
dtype: int64
series 2
a    1
b    2
c    3
d    4
dtype: int64
adition
a    11
b    22
c    33
d    44
dtype: int64
Subtraction
a     9
b    18
c    27
d    36
dtype: int64
Multiplication
a     10
b     40
c     90
d    160
dtype: int64
Division
a    10.0
b    10.0
c    10.0
d    10.0
dtype: float64

In [133]:
#4
series = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print("Through index label")
print(series['a'])
print(series['c'])
print(series['d'])
print("Through positions")
print(series[0])
print(series[3])
print(series[2])

Through index label
10
30
40
Through positions
10
40
30

C:\Users\PMYLS\AppData\Local\Temp\ipykernel_11680\2926872188.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series[0])
C:\Users\PMYLS\AppData\Local\Temp\ipykernel_11680\2926872188.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series[3])
C:\Users\PMYLS\AppData\Local\Temp\ipykernel_11680\2926872188.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series[2])

In [134]:
#5
ser=pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
thresh_val=25
ser2=ser[series>thresh_val]
print("filtered series")
print(ser2)

filtered series
c    30
d    40
dtype: int64

In [135]:
#6
data={
    'name': ["ali", "bisma", "zara", "daniyal"],
  'age':[13,23,31,33],
'city':['karachi','rawalpindi','islamabad','lahore']
       }
df=pd.DataFrame(data)
print("Dataframe")
print(df)

Dataframe
      name  age        city
0      ali   13     karachi
1    bisma   23  rawalpindi
2     zara   31   islamabad
3  daniyal   33      lahore

In [136]:
#7
d=np.array([[1,2,3],[4,5,6,],[7,8,9]])
col=['col1','col2','col3']
index=['row1','row2','row3']

df=pd.DataFrame(d,columns=col,index=index)
print("Dataframe: ")
print(df)

Dataframe:
      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [137]:
#8
df=pd.read_csv('student-scores.csv')
print("Dataframe: ")
print(df)

Dataframe:
        id first_name last_name                                    email  \
0        1       Paul     Casey           paul.casey.1@gslingacademy.com
1        2   Danielle  Sandoval    danielle.sandoval.2@gslingacademy.com
2        3       Tina   Andrews         tina.andrews.3@gslingacademy.com
3        4       Tara     Clark           tara.clark.4@gslingacademy.com
4        5    Anthony    Campos       anthony.campos.5@gslingacademy.com
...    ...        ...       ...                                      ...
1995  1996       Alan  Reynolds     alan.reynolds.1996@gslingacademy.com
1996  1997     Thomas   Gilbert    thomas.gilbert.1997@gslingacademy.com
1997  1998    Madison     Cross     madison.cross.1998@gslingacademy.com
1998  1999   Brittany   Compton  brittany.compton.1999@gslingacademy.com
1999  2000    Natalie     Smith     natalie.smith.2000@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
0       male          False             3                       False
1     female          False             2                       False
2     female          False             9                        True
3     female          False             5                       False
4       male          False             5                       False
...      ...            ...           ...                         ...
1995    male          False             2                       False
1996    male          False             2                       False
1997  female          False             5                       False
1998  female           True            10                        True
1999  female          False             5                       False

      weekly_self_study_hours      career_aspiration  math_score  \
0                          27                 Lawyer          73
1                          47                 Doctor          90
2                          13     Government Officer          81
3                           3                 Artist          71
4                          10                Unknown          84
...                       ...                    ...         ...
1995                       30  Construction Engineer          83
1996                       20      Software Engineer          89
1997                       14      Software Engineer          97
1998                        5         Business Owner          51
1999                       27             Accountant          82

      history_score  physics_score  chemistry_score  biology_score  \
0                81             93               97             63
1                86             96              100             90
2                97             95               96             65
3                74             88               80             89
4                77             65               65             80
...             ...            ...              ...            ...
1995             77             84               73             75
1996             65             73               80             87
1997             85             63               93             68
1998             96             72               89             95
1999             99             91               69             83

      english_score  geography_score
0                80               87
1                88               90
2                77               94
3                63               86
4                74               76
...             ...              ...
1995             84               82
1996             67               73
1997             94               78
1998             88               75
1999             93              100

[2000 rows x 17 columns]

In [138]:
#9
print("First 5 rows")
print(df.head())

print("Last 5 rows")
print(df.tail())

First 5 rows
   id first_name last_name                                  email  gender  \
0   1       Paul     Casey         paul.casey.1@gslingacademy.com    male
1   2   Danielle  Sandoval  danielle.sandoval.2@gslingacademy.com  female
2   3       Tina   Andrews       tina.andrews.3@gslingacademy.com  female
3   4       Tara     Clark         tara.clark.4@gslingacademy.com  female
4   5    Anthony    Campos     anthony.campos.5@gslingacademy.com    male

   part_time_job  absence_days  extracurricular_activities  \
0          False             3                       False
1          False             2                       False
2          False             9                        True
3          False             5                       False
4          False             5                       False

   weekly_self_study_hours   career_aspiration  math_score  history_score  \
0                       27              Lawyer          73             81
1                       47              Doctor          90             86
2                       13  Government Officer          81             97
3                        3              Artist          71             74
4                       10             Unknown          84             77

   physics_score  chemistry_score  biology_score  english_score  \
0             93               97             63             80
1             96              100             90             88
2             95               96             65             77
3             88               80             89             63
4             65               65             80             74

   geography_score
0               87
1               90
2               94
3               86
4               76
Last 5 rows
        id first_name last_name                                    email  \
1995  1996       Alan  Reynolds     alan.reynolds.1996@gslingacademy.com
1996  1997     Thomas   Gilbert    thomas.gilbert.1997@gslingacademy.com
1997  1998    Madison     Cross     madison.cross.1998@gslingacademy.com
1998  1999   Brittany   Compton  brittany.compton.1999@gslingacademy.com
1999  2000    Natalie     Smith     natalie.smith.2000@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
1995    male          False             2                       False
1996    male          False             2                       False
1997  female          False             5                       False
1998  female           True            10                        True
1999  female          False             5                       False

      weekly_self_study_hours      career_aspiration  math_score  \
1995                       30  Construction Engineer          83
1996                       20      Software Engineer          89
1997                       14      Software Engineer          97
1998                        5         Business Owner          51
1999                       27             Accountant          82

      history_score  physics_score  chemistry_score  biology_score  \
1995             77             84               73             75
1996             65             73               80             87
1997             85             63               93             68
1998             96             72               89             95
1999             99             91               69             83

      english_score  geography_score
1995             84               82
1996             67               73
1997             94               78
1998             88               75
1999             93              100

In [139]:
#10
summary=df.describe()
print("Summary: ")
print(summary)

mean=df.mean(numeric_only=True)
print("\nMean: ")
print(mean)

median=df.median(numeric_only=True)
print("\nMedian: ")
print(median)

std_dev=df.std(numeric_only=True)
print("\nStabdard Deviation: ")
print(std_dev)

Summary:
                id  absence_days  weekly_self_study_hours   math_score  \
count  2000.000000   2000.000000              2000.000000  2000.000000
mean   1000.500000      3.665500                17.755500    83.452000
std     577.494589      2.629271                12.129604    13.224906
min       1.000000      0.000000                 0.000000    40.000000
25%     500.750000      2.000000                 5.000000    77.000000
50%    1000.500000      3.000000                18.000000    87.000000
75%    1500.250000      5.000000                28.000000    93.000000
max    2000.000000     10.000000                50.000000   100.000000

       history_score  physics_score  chemistry_score  biology_score  \
count    2000.000000    2000.000000      2000.000000     2000.00000
mean       80.332000      81.336500        79.995000       79.58150
std        12.736046      12.539453        12.777895       13.72219
min        50.000000      50.000000        50.000000       30.00000
25%        69.750000      71.000000        69.000000       69.00000
50%        82.000000      83.000000        81.000000       81.00000
75%        91.000000      92.000000        91.000000       91.00000
max       100.000000     100.000000       100.000000      100.00000

       english_score  geography_score
count    2000.000000      2000.000000
mean       81.277500        80.888000
std        12.027087        11.637705
min        50.000000        60.000000
25%        72.000000        71.000000
50%        83.000000        81.000000
75%        91.000000        91.000000
max        99.000000       100.000000

Mean:
id                            1000.5000
part_time_job                    0.1580
absence_days                     3.6655
extracurricular_activities       0.2040
weekly_self_study_hours         17.7555
math_score                      83.4520
history_score                   80.3320
physics_score                   81.3365
chemistry_score                 79.9950
biology_score                   79.5815
english_score                   81.2775
geography_score                 80.8880
dtype: float64

Median:
id                            1000.5
part_time_job                    0.0
absence_days                     3.0
extracurricular_activities       0.0
weekly_self_study_hours         18.0
math_score                      87.0
history_score                   82.0
physics_score                   83.0
chemistry_score                 81.0
biology_score                   81.0
english_score                   83.0
geography_score                 81.0
dtype: float64

Stabdard Deviation:
id                            577.494589
part_time_job                   0.364832
absence_days                    2.629271
extracurricular_activities      0.403070
weekly_self_study_hours        12.129604
math_score                     13.224906
history_score                  12.736046
physics_score                  12.539453
chemistry_score                12.777895
biology_score                  13.722190
english_score                  12.027087
geography_score                11.637705
dtype: float64

In [140]:
#11
ser=df['math_score']
print("extracting specific column: ")
print(ser)

extracting specific column:
0       73
1       90
2       81
3       71
4       84
        ..
1995    83
1996    89
1997    97
1998    51
1999    82
Name: math_score, Length: 2000, dtype: int64

In [141]:
#12
filter_val=df[df['math_score'] > 30]
print("Filtered Math score are here:")
print(filter_val.head(7))

filter_val1 = df[df['physics_score'] < 92]
print(" \n Filtered Physics score are  :")
print(filter_val1.head(7))

Filtered Math score are here:
   id first_name last_name                                  email  gender  \
0   1       Paul     Casey         paul.casey.1@gslingacademy.com    male
1   2   Danielle  Sandoval  danielle.sandoval.2@gslingacademy.com  female
2   3       Tina   Andrews       tina.andrews.3@gslingacademy.com  female
3   4       Tara     Clark         tara.clark.4@gslingacademy.com  female
4   5    Anthony    Campos     anthony.campos.5@gslingacademy.com    male
5   6      Kelly      Wade         kelly.wade.6@gslingacademy.com  female
6   7    Anthony     Smith      anthony.smith.7@gslingacademy.com    male

   part_time_job  absence_days  extracurricular_activities  \
0          False             3                       False
1          False             2                       False
2          False             9                        True
3          False             5                       False
4          False             5                       False
5          False             2                       False
6          False             3                        True

   weekly_self_study_hours   career_aspiration  math_score  history_score  \
0                       27              Lawyer          73             81
1                       47              Doctor          90             86
2                       13  Government Officer          81             97
3                        3              Artist          71             74
4                       10             Unknown          84             77
5                       26             Unknown          93            100
6                       23   Software Engineer          99             96

   physics_score  chemistry_score  biology_score  english_score  \
0             93               97             63             80
1             96              100             90             88
2             95               96             65             77
3             88               80             89             63
4             65               65             80             74
5             67               78             72             80
6             97               73             88             76

   geography_score
0               87
1               90
2               94
3               86
4               76
5               84
6               64

 Filtered Physics score are  :
    id first_name last_name                                email  gender  \
3    4       Tara     Clark       tara.clark.4@gslingacademy.com  female
4    5    Anthony    Campos   anthony.campos.5@gslingacademy.com    male
5    6      Kelly      Wade       kelly.wade.6@gslingacademy.com  female
7    8     George     Short     george.short.8@gslingacademy.com    male
9   10     Audrey   Simpson  audrey.simpson.10@gslingacademy.com  female
12  13   Patricia     Gomez  patricia.gomez.13@gslingacademy.com  female
13  14     Pamela   Jackson  pamela.jackson.14@gslingacademy.com  female

    part_time_job  absence_days  extracurricular_activities  \
3           False             5                       False
4           False             5                       False
5           False             2                       False
7            True             2                        True
9           False             3                        True
12           True             7                       False
13          False            10                       False

    weekly_self_study_hours  career_aspiration  math_score  history_score  \
3                         3             Artist          71             74
4                        10            Unknown          84             77
5                        26            Unknown          93            100
7                        34  Software Engineer          95             95
9                        18            Teacher          98             69
12                        4     Business Owner          94             59
13                        2     Business Owner          66             94

    physics_score  chemistry_score  biology_score  english_score  \
3              88               80             89             63
4              65               65             80             74
5              67               78             72             80
7              82               63             84             70
9              88               71             67             71
12             69               67             89             65
13             86              100             57             90

    geography_score
3                86
4                76
5                84
7                85
9                73
12               73
13               63

In [142]:
#13
row1=df[(df['math_score'] > 85) & (df['physics_score']> 90)]
print("First condition")
print(row1.head())

row2= df[(df['gender'] == 'female') & (df['absence_days']< 5)]
print("2nd condition: ")
print(row2.head())

row3=df[(df['gender']== 'male') & ((df['part_time_job']== True) | (df['absence_days']> 5))]
print("3rd condition: ")
print(row3.head())

First condition
    id first_name  last_name                                  email  gender  \
1    2   Danielle   Sandoval  danielle.sandoval.2@gslingacademy.com  female
6    7    Anthony      Smith      anthony.smith.7@gslingacademy.com    male
8    9    Stanley  Gutierrez  stanley.gutierrez.9@gslingacademy.com    male
16  17      Vicki   Thompson    vicki.thompson.17@gslingacademy.com  female
18  19   Jonathan     Werner   jonathan.werner.19@gslingacademy.com    male

    part_time_job  absence_days  extracurricular_activities  \
1           False             2                       False
6           False             3                        True
8           False             6                       False
16          False             3                        True
18          False             1                       False

    weekly_self_study_hours  career_aspiration  math_score  history_score  \
1                        47             Doctor          90             86
6                        23  Software Engineer          99             96
8                        25            Unknown          94             68
16                       30          Scientist          92             64
18                       37             Doctor          92             87

    physics_score  chemistry_score  biology_score  english_score  \
1              96              100             90             88
6              97               73             88             76
8              94               85             81             74
16             93               91             80             89
18             92               99             97             87

    geography_score
1                90
6                64
8                72
16               72
18               86
2nd condition:
    id first_name last_name                                  email  gender  \
1    2   Danielle  Sandoval  danielle.sandoval.2@gslingacademy.com  female
5    6      Kelly      Wade         kelly.wade.6@gslingacademy.com  female
9   10     Audrey   Simpson    audrey.simpson.10@gslingacademy.com  female
10  11  Gabrielle     White   gabrielle.white.11@gslingacademy.com  female
14  15      Laura   Jackson     laura.jackson.15@gslingacademy.com  female

    part_time_job  absence_days  extracurricular_activities  \
1           False             2                       False
5           False             2                       False
9           False             3                        True
10          False             2                       False
14          False             3                       False

    weekly_self_study_hours career_aspiration  math_score  history_score  \
1                        47            Doctor          90             86
5                        26           Unknown          93            100
9                        18           Teacher          98             69
10                        7           Teacher          65             60
14                       39            Doctor          96             90

    physics_score  chemistry_score  biology_score  english_score  \
1              96              100             90             88
5              67               78             72             80
9              88               71             67             71
10             97               94             71             81
14             86               92             92             95

    geography_score
1                90
5                84
9                73
10               66
14               87
3rd condition:
    id first_name  last_name                                  email gender  \
7    8     George      Short       george.short.8@gslingacademy.com   male
8    9    Stanley  Gutierrez  stanley.gutierrez.9@gslingacademy.com   male
15  16      Roger      Wiley       roger.wiley.16@gslingacademy.com   male
20  21        Tim    Nichols       tim.nichols.21@gslingacademy.com   male
21  22       Kyle     Willis       kyle.willis.22@gslingacademy.com   male

    part_time_job  absence_days  extracurricular_activities  \
7            True             2                        True
8           False             6                       False
15          False             6                       False
20           True             3                       False
21          False             8                       False

    weekly_self_study_hours  career_aspiration  math_score  history_score  \
7                        34  Software Engineer          95             95
8                        25            Unknown          94             68
15                        0     Business Owner          94             50
20                       15  Software Engineer         100             90
21                        4     Business Owner          57             55

    physics_score  chemistry_score  biology_score  english_score  \
7              82               63             84             70
8              94               85             81             74
15             78               64             79             74
20             72               98             73             97
21             78               94             83             88

    geography_score
7                85
8                72
15               84
20               72
21               88

In [143]:
#14
df['total_score'] = df['math_score'] +df['history_score'] +df['physics_score'] +df['chemistry_score'] +df['biology_score'] +df['english_score'] +df['geography_score']
print("datafram after adding new colomn, Total score")
print(df.head())

datafram after adding new colomn, Total score
   id first_name last_name                                  email  gender  \
0   1       Paul     Casey         paul.casey.1@gslingacademy.com    male
1   2   Danielle  Sandoval  danielle.sandoval.2@gslingacademy.com  female
2   3       Tina   Andrews       tina.andrews.3@gslingacademy.com  female
3   4       Tara     Clark         tara.clark.4@gslingacademy.com  female
4   5    Anthony    Campos     anthony.campos.5@gslingacademy.com    male

   part_time_job  absence_days  extracurricular_activities  \
0          False             3                       False
1          False             2                       False
2          False             9                        True
3          False             5                       False
4          False             5                       False

   weekly_self_study_hours   career_aspiration  math_score  history_score  \
0                       27              Lawyer          73             81
1                       47              Doctor          90             86
2                       13  Government Officer          81             97
3                        3              Artist          71             74
4                       10             Unknown          84             77

   physics_score  chemistry_score  biology_score  english_score  \
0             93               97             63             80
1             96              100             90             88
2             95               96             65             77
3             88               80             89             63
4             65               65             80             74

   geography_score  total_score
0               87          574
1               90          640
2               94          605
3               86          551
4               76          521

In [144]:
#15
df = df.drop(columns=['extracurricular_activities'])
#df.drop('extracurricular_activities', axis=0)
print("after dropping colomn")
print(df)

after dropping colomn
        id first_name last_name                                    email  \
0        1       Paul     Casey           paul.casey.1@gslingacademy.com
1        2   Danielle  Sandoval    danielle.sandoval.2@gslingacademy.com
2        3       Tina   Andrews         tina.andrews.3@gslingacademy.com
3        4       Tara     Clark           tara.clark.4@gslingacademy.com
4        5    Anthony    Campos       anthony.campos.5@gslingacademy.com
...    ...        ...       ...                                      ...
1995  1996       Alan  Reynolds     alan.reynolds.1996@gslingacademy.com
1996  1997     Thomas   Gilbert    thomas.gilbert.1997@gslingacademy.com
1997  1998    Madison     Cross     madison.cross.1998@gslingacademy.com
1998  1999   Brittany   Compton  brittany.compton.1999@gslingacademy.com
1999  2000    Natalie     Smith     natalie.smith.2000@gslingacademy.com

      gender  part_time_job  absence_days  weekly_self_study_hours  \
0       male          False             3                       27
1     female          False             2                       47
2     female          False             9                       13
3     female          False             5                        3
4       male          False             5                       10
...      ...            ...           ...                      ...
1995    male          False             2                       30
1996    male          False             2                       20
1997  female          False             5                       14
1998  female           True            10                        5
1999  female          False             5                       27

          career_aspiration  math_score  history_score  physics_score  \
0                    Lawyer          73             81             93
1                    Doctor          90             86             96
2        Government Officer          81             97             95
3                    Artist          71             74             88
4                   Unknown          84             77             65
...                     ...         ...            ...            ...
1995  Construction Engineer          83             77             84
1996      Software Engineer          89             65             73
1997      Software Engineer          97             85             63
1998         Business Owner          51             96             72
1999             Accountant          82             99             91

      chemistry_score  biology_score  english_score  geography_score  \
0                  97             63             80               87
1                 100             90             88               90
2                  96             65             77               94
3                  80             89             63               86
4                  65             80             74               76
...               ...            ...            ...              ...
1995               73             75             84               82
1996               80             87             67               73
1997               93             68             94               78
1998               89             95             88               75
1999               69             83             93              100

      total_score
0             574
1             640
2             605
3             551
4             521
...           ...
1995          558
1996          534
1997          578
1998          566
1999          617

[2000 rows x 17 columns]

In [145]:
print(df.columns)

Index(['id', 'first_name', 'last_name', 'email', 'gender', 'part_time_job',
       'absence_days', 'weekly_self_study_hours', 'career_aspiration',
       'math_score', 'history_score', 'physics_score', 'chemistry_score',
       'biology_score', 'english_score', 'geography_score', 'total_score'],
      dtype='object')

In [146]:
#16
df = df.rename(columns={'first_name': 'name', 'weekly_self_study_hours': 'study_hours'})

In [147]:
df.columns

Index(['id', 'name', 'last_name', 'email', 'gender', 'part_time_job',
       'absence_days', 'study_hours', 'career_aspiration', 'math_score',
       'history_score', 'physics_score', 'chemistry_score', 'biology_score',
       'english_score', 'geography_score', 'total_score'],
      dtype='object')